{% if feeds %}
    <ul>
    {% for feed in feeds %}
        <li>
        	{{ feed.feed_url }}
        	{% if feed.active %}
        	<a href="{% url 'feeds:deactivate_feed' feed.id %}">Deactivate</a>
        	{% else %}
        	<a href="{% url 'feeds:activate_feed' feed.id %}">Activate</a>
        	{% endif %}
        
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no feeds in database.</p>
{% endif %}

<form action="{% url 'feeds:add' %}" method="post">
{% csrf_token %}
{{ form }}
<input type="submit" value="Add" />
</form>